@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --line-color: #dbdee2;
}

html.dark {
    --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
    @apply border border-black/10;
}

@layer base {
   /* Hide scrollbar for all browsers */
   ::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }

  body {
    -ms-overflow-style: none;  /* Internet Explorer and Edge */
    scrollbar-width: none;     /* Firefox */
  }
}
